<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="Python FastCGI" />
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="D:\Python\python.exe|D:\Python\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="WSGI_HANDLER" value="wsgi.app" />
    <add key="PYTHONPATH" value="D:\PESCOE Projects\PESCOE Systems Uptime Tracker" />
    <add key="WSGI_LOG" value="D:\PESCOE Projects\PESCOE Systems Uptime Tracker\wfastcgi.log" />
  </appSettings>
</configuration>
